<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SmokeParallelSuite" parallel = "tests" thread-count="3">

	<test name="Smoketest_Chrome" preserve-order="true">
		<!-- pass data on below parameters before executing test suite -->
		<parameter name="browserName" value="Chrome"></parameter>
		<parameter name="environment" value="QA"></parameter>
		<classes>
			<class name="tests.Filling_Contact_Form" />
		</classes>
	</test>
	
	<test name="Smoketest_Firefox" preserve-order="true">
		<!-- pass data on below parameters before executing test suite -->
		<parameter name="browserName" value="firefox"></parameter>
		<parameter name="environment" value="QA"></parameter>
		<classes>
			<class name="tests.Filling_Contact_Form" />
		</classes>
	</test>

</suite>
  